@import "config";

main {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/loginBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;

  .container {
    header {
      padding: 20px;
      background-color: #73b9db;
      height: 60px;

      ul {
        text-align: right;
        a {
          color: white;
          font-size: 20px;
          margin-left: 20px;
          display: inline-block;
          text-decoration: none;
        }
        a:hover {
          border-bottom: 2px solid white;
          text-decoration: none;
        }
      }
    }
  }

  .formcontainer {
    background-color: rgba(255, 255, 255, 0.95);
    min-width: 350px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 60px auto;
    z-index: -5;

    form {
      width: 100%;
      text-align: center;
      padding: 30px;
      border: 3px solid #73b9db;
      min-height: 70vh;

      label {
        display: block;
        margin: 15px auto 10px auto;
        text-align: left;
        width: 80%;
        font-weight: bold;
        color: #73b9db;
      }

      input {
        border: none;
        border-bottom: 1px solid #73b9db;
        padding: 10px;
        outline: none;
        width: 80%;
      }

      .submit {
        background-color: green;
        margin: 80px auto 20px auto;
        color: white;
        padding: 10px 30px;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        width: 80%;
      }

      .submit:hover {
        background-color: white;
        color: green;
        border: 1px solid green;
      }
      p {
        a {
          color: #73b9db;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }

    #register {
      .special {
        text-align: left;
        input, select {
          display: inline-block;
          width: auto;
          margin-left: 10%;
        }

        select {
            height: 30px;
        }
      }

      .submit {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 650px){
    header {
        .navButton {
          border: 1px solid white;
          width: 30px;
          z-index: 2;
         position: absolute;
         top: 20px;
         right: 40px;
         padding: 3px 3px 0 3px;
         cursor: pointer;

         .stick {
           background-color: white;
           height: 3px; 
           margin-bottom: 3px;
         }
        }

        #navBar {
            flex-direction: column;
            align-items: right;
            margin-top: 40px;
            display: none;
            background-color: #73b9db;
            padding-right: 20px;
            z-index: 5 !important;
        }
        a {
            display: block !important;
            margin-bottom: 8px;
        }
        a:hover {
            border: none !important;
            opacity: .7;
        }
    }
}